extends layout
block content
  sidebar
  #container
    h1 The Super Awesome Inkspeck Express Template
    p Now with:  
    ul  
      li Coffee-Script
      li Jade
      li Stylus
      li Fluidity CSS 
      li & Connect-Assets
      