extends layout
block content
  section
    #content
       h1 Tristique Porta Malesuada Etiam
       #example-form
         form
           fieldset.name
             legend Name
             label First:
             input(type="text", placeholder="First Name")
             label Last:
             input(type="text", placeholder="Last Name")
           fieldset.email-url
             legend Email/URL
             label Email:
             input(type="email", placeholder="your@email.com")
             label URL:
             input(type="url", placeholder="http://www.yourwebsite.com")
           fieldset.options
             legend Options
             label Choose an Option:
             select
               option Option 1
               option Option 2
               option Option 3
               option Option 4
           fieldset.date
             legend Date
             label Date:
             input(type="date", placeholder="mm/dd/yyyy")
           fieldset.slider
             legend Slider
             input(type='range', min='1', max='100', value='1')
             input(type='range', min='1', max='100', value='1')
             output(value="1") 1
           fieldset.sex
             legend Sex
             label(for="male") Male:
             input(type="radio", name="sex", id="male", value="male")
             label(for="female") Female:
             input(type="radio", name="sex", id="female", value="female")
           fieldset.allergies
             legend Allergies
             label(for="checkbox1") Peanuts:
             input(type="checkbox", id="checkbox1", name="checkbox1", value="Peanuts")
             label(for="checkbox2") Grass:
             input(type="checkbox", id="checkbox2", name="checkbox2", value="Grass")
             label(for="checkbox3") Dust:
             input(type="checkbox", id="checkbox3", name="checkbox3", value="Dust")              label(for="checkbox3") Dust
           fieldset.description
             legend Description
             label Describe things:
             textarea
             button Submit
             button Cancel

    sidebar
      ul#sidebar-list
        li
          a(href='#')
            span First: Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Last: Duis mollis, est non commodo luctus, nisi erat porttitor.
