!!! 5
html
  head
    meta(charset='utf-8')
    title Change This Title
    meta(name='description', content='')
    meta(name='author', content='')
    // CSS
    != css('index')
    // JS  
    != js('http://code.jquery.com/jquery.min.js')
    != js('index')
  body
    block content
