!!! 5
html
  head
    meta(charset='utf-8')
    title Change This Title
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="apple-touch-icon-precomposed", href="/images/icon.png")
    link(rel="apple-touch-startup-image", href="images/landscape-launch.png", media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)")
    link(rel="apple-touch-startup-image", href="images/portrait-launch.png", media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)")
    // CSS
    != css('index')
    // JS
    != js('http://code.jquery.com/jquery.min.js')
    != js('index')
  body
    .topbar
      .topbar-inner
        p Here's the Top Bar?
    .message
      p Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod.
      .controls
        button Ok
        button Cancel
    #container
      block content
