!!! 5
html.notouch.preload
  head
    meta(charset='utf-8')
    title Fluidity UI
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="apple-touch-icon-precomposed", href="/images/icon.png")
    link(rel="apple-touch-startup-image", href="images/phone-splash.png")
    link(rel="apple-touch-startup-image", href="images/landscape-launch.png", media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)")
    link(rel="apple-touch-startup-image", href="images/portrait-launch.png", media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)")
    // CSS
    != css('responsive')
  body
    .topbar
      .topbar-inner
        #left-controls
          .back
          .leftmenu
        #logo Fluidity UI
        #right-controls
          .rightmenu
    .message
      p Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod.
      .controls
        button Ok
        button Cancel
    #leftslidemenu
      ul
        li
          a(href='#')
            span First Left Side: Non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
    #rightslidemenu
      ul
        li
          a(href='#')
            span First Right Side: Non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
        li
          a(href='#')
            span Duis mollis, est non commodo luctus, nisi erat porttitor.
    #container
      block content

// JS
!= js('zepto')
!= js('fluidity-ui')
!= js('index')
