body
html
  height 100%
  margin 0
  padding 0

//
// Universal Components
// -----------------------

sliderout(fl-width, fl-height, output-background, output-color)
  position relative
  display inline-block
  top (fl-height * -2.3)
  left 0
  width fl-width
  height fl-height
  background-color output-background
  color output-color
  border-radius 3px
  padding 0.4em 0.2em 1em 0.2em
  box-sizing border-box
  text-align center
  transition left 0s linear
  transition-delay 0s
  z-index 2
  &:after
    content ""
    display block
    position absolute
    top fl-height
    left 0
    margin-left (fl-width/3.4)
    padding 0px
    color black
    z-index 1
    border-top 1em solid darker-color2
    border-left 0.5em solid transparent
    border-right 0.5em solid transparent

slider(fl-width=40px, fl-height=30px, track-color=darker-color1, thumb-background=lighter-color3, thumb-border-color=lighter-color2, output-background=darker-color2, output-color=lighter-color3)
  width 100%
  appearance none !important
  background-color track-color
  height ((fl-height / 2) / 1.2)
  outline none !important
  border-radius 3px
  margin-top 2em
  &::-webkit-slider-thumb
    position relative
    appearance none !important
    outline none !important
    background thumb-background
    border 1px solid thumb-border-color
    margin 0px
    padding 0px
    width fl-width
    height fl-height
    border-radius 3px
  & + output
    sliderout(fl-width,fl-height, output-background, output-color)

backbutton(bdr-color, bg-color)
  display block
  position relative
  width 35px
  height 22px
  padding 0.46em 0.3em 0.37em 0.15em
  margin 0.8em 0 0 1.8em
  background-color bg-color
  border-top 1px solid bdr-color
  border-right 1px solid bdr-color
  border-bottom 1px solid bdr-color
  border-left 0px solid bdr-color
  font-size 1.2em
  z-index 2
  visibility hidden
  opacity 0
  &:before
    content ""
    position absolute
    top 3px
    left -12px
    background-color bg-color
    border 1px solid bdr-color
    height 25px
    width 25px
    padding 0 0 1px 0
    transform rotate(45deg)
    border-radius 3px
    z-index 0
    -webkit-mask-image linear-gradient(45deg, #000 48%, rgba(0,0,0,0) 50%)

scrollview(trackcolor = none, scrollcolor = darker-color2, borders = 0 0 7px 7px)
  overflow-x hidden
  overflow-y auto
  -webkit-overflow-scrolling touch
  &::-webkit-scrollbar
    width 0.5em
    margin 0
    padding 0
  &::-webkit-scrollbar-track
    width 0.5em
    margin 0
    padding 0
    background trackcolor
  &::-webkit-scrollbar-thumb
    background scrollcolor
    border-radius borders
    margin 0
    padding 0
    opacity 0

listview()
  width 100%
  height 91%
  margin 0 auto
  padding 0
  border-width 0px 0px 0px 0px
  border-style solid
  border-color darken(darker-color1, 20%)
  scrollview()
  li
    width (100% - 1px)
    margin 0 0 0 2px
    display block
    border-width 0px 1px 1px 1px
    border-style solid
    border-color darken(darker-color1, 20%)
    box-sizing border-box
    &:first-child
      border-width 1px 1px 1px 1px
      border-style solid
      border-color darken(darker-color1, 20%)
      box-sizing border-box
    &:last-child
      margin-bottom (base-line-height * 5)
    a
      text-decoration none
      width 100%
      height 100%
      padding 1em 0px 1em 0
      display block
      color lighter-color2
      background-color darker-color1
      html.notouch &:hover
        background-color darker-color2
      &:active
        background-color darker-color2
      span
        display block
        width 88%
        margin 0 15% 0 5%

message()
  position fixed
  top 64px
  left 50%
  z-index 16
  width 66%
  background linear-gradient(to bottom right, darker-color3, darker-color2)
  box-shadow 0px 0px 7px darker-color1
  color lighten(lighter-color3, 20%)
  margin-left -35%
  opacity 0
  visibility hidden
  transition visibility 0s 0.5s, opacity 0.5s linear
  cursor pointer
  border-radius 3px
  border 1px solid darker-color2
  &:before
    content "\00d7"
    width 20px
    height 20px
    margin 6px
    float right
    font-size 1.2em
  .controls
    display block
    width 95%
    margin 0 auto
    padding 0

.message
  message()

show()
  opacity 1 !important
  visibility visible !important
  transition opacity 0.05s linear !important

.show
  show()

topbar()
  small()
  width 100%
  height 60px
  position fixed
  top 0
  left 0
  background-color darker-color1
  color lighter-color2
  z-index 15 !important
  opacity(1.0)
  border-width 0px 0px 1px 0px
  border-style solid
  border-color darken(darker-color1, 20%)
  .topbar-inner
    grid(100%,100%)
    height 100%
    overflow hidden
    #left-controls
      grid-space(20%)
      .back
        backbutton(darker-color3, darker-color2)
    #logo
      grid-space(80%)
      text-align center
      padding-right 20%
      margin-top 0.7em
      font-size 2em

    p
      float left
      margin 1.5em
  button, .button
    margin 1.4em 1em
    font-weight bold
    float left
    border 0
    small()

.topbar
  topbar()

topbarfix()
  margin 60px 0px 0px 0px
  &:after
    content "\00a0"
    padding-bottom 60px

carousel(items=2, speed=300ms)
  grid(100%, (100% * items))
  position fixed
  top 0%
  left 0%
  transition left speed cubic-bezier(0.000, 0.000, 0.000, 0.995)
  overflow-x hidden
