@import 'fluidity'

gridWidth = 70%  
minWidth = 600px 

body
  grid()
  border-right 1px solid lightgray3  

sidebar
  background-color lightgray3
  grid_20()

#container 
  grid_80()
  ul
    list-style-type disc
    margin 0 0 0 4em

