base-color = #090909
base-font-size = 1em
base-line-height = 1.3em
grid-width = 100%
grid-min-width = 320px
@import 'fluidity'
@import 'forms'
@import 'components'

darker-color1 = #252525
darker-color2 = #454545
darker-color3 = #656565

// ---------------------
//Site Specifics
// -------------------
input[type='range']
  slider(40px, 30px)
a
  color darker-color3
body
  color darker-color2
  overflow-x hidden

.message
  modal()
  width 90%
  margin-left -45%

//---------------------
// Base Layout
//---------------------

.topbar-inner
  #left-controls
    grid-space(20%)
    .back
      display none
      hide()
      backbutton(false)
    .leftmenu
      menubutton(false)
  #logo
    grid-space(60%)
    text-align center
    margin-top 0.9em
    font-size 1.5em
  #right-controls
    grid-space(20%)
    .rightmenu
      menubutton(false)
      float right
      margin-right 0.8em


#leftslidemenu
  flyawaymenu(left, 300ms, 28%)
  topbarfix()
  background black
  ul
    listview(darken(darker-color1, 80%), darker-color1)
    background none

#rightslidemenu
  flyinmenu(right, 300ms, 35%)
  topbarfix()
  background rgba(black,80%)
  ul
    grid(100%,100%)
    height 100%
    scrollview()
    margin-top 0.75%
    li
      grid-space(32%)
      min-height 25%
      height auto
      background darker-color1
      box-shadow inset 0px 0px 6em 1em darken(darker-color1, 10%)
      margin 0.5% 0% 0.5% 1%
      text-align center
      border-radius 3px
      border 2px solid black
      box-sizing border-box
      html.notouch &:hover,
      &:active,
      &focus
        cursor pointer
        background darken(darker-color1, 30%)
        box-shadow inset 0px 0px 6em 1em darken(darker-color1, 40%)
      a
        display block
        text-decoration none
        margin 1em 0.5em
        font-size 0.9em
        text-select none
        color lighter-color1
    li:nth-child(3n+ 1)
      clear left
    li:last-child
      clear left
      margin-bottom 128px

#container
  grid()
  height 100%
  background-color lighten(lighter-color3,10%)

#content
  grid-space(72%)
  height 91%
  padding 2% 6%
  background lighten(lighter-color3,70%)
  scrollview()
  topbarfix()
  #example-form
    form()

sidebar
  grid-space(28%)
  padding 0px
  background-color darker-color1
  min-height 100%
  topbarfix()
  #sidebar-list
    listview()
    background-color darker-color1

// ---------------------
// iPad Landscape Layout
// ---------------------
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
  #leftslidemenu
    flyawaymenu(left, 300ms, 80%)
    topbarfix()
  #rightslidemenu
    flyinmenu(right, 300ms, 100%)
    font-size 0.8em
    line-height 1.2em
    topbarfix()
  #container
    grid()
  #content
    grid-space(70%)
    padding 2% 6%
    topbarfix()
    form
      .name
        grid-space(50%)
      .email-url
        grid-space(50%)
  sidebar
    grid-space(30%)
    topbarfix()
    #sidebar-list
      margin-left 1px

// ---------------------
// iPad Portrait Layout
// ---------------------
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
  #leftslidemenu
    flyawaymenu(left, 300ms, 80%)
    topbarfix()
  #rightslidemenu
    flyinmenu(right, 300ms, 100%)
    font-size 0.8em
    line-height 1.2em
    topbarfix()
  body
    font-size .9em
  #container
    grid()
  #content
    grid-space(70%)
    padding 2% 6%
    float right
    topbarfix()
    form
      .name
        grid-space(100%)
      .email-url
        grid-space(100%)
  sidebar
    grid-space(30%)
    float right
    topbarfix()
    #sidebar-list
      margin-left -1px

// ---------------------
// iPhone Portrait Layout
// ---------------------
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait)
  #leftslidemenu
    flyawaymenu(left, 300ms, 80%)
    topbarfix()
  #rightslidemenu
    flyinmenu(right, 300ms, 100%)
    font-size 0.8em
    line-height 1.2em
    topbarfix()
  #container
    carousel(2,300ms)
  #content
    grid-space(50%)
    padding 2% 2%
    float right
    topbarfix()
  sidebar
    grid-space(50%)
    float right
    topbarfix()

// ---------------------
// iPhone Landscape Layout
// ---------------------
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape)
  #leftslidemenu
    flyawaymenu(left, 300ms, 80%)
    topbarfix()
  #rightslidemenu
    flyinmenu(right, 300ms, 100%)
    font-size 0.8em
    line-height 1.2em
    topbarfix()
  #container
    carousel(2,300ms)
  #content
    grid-space(50%)
    padding 2% 2%
    float right
    topbarfix()
    form
      .name
        grid-space(50%)
      .email-url
        grid-space(50%)
  sidebar
    grid-space(50%)
    float right
    topbarfix()
